In [1]:
import pandas as pd
import requests

In [2]:
response=requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=77edeb18e70fcf758435adbed4125fec&language=en-US&page=2")

In [3]:
temp_df=pd.DataFrame(response.json().get('results', []))[["id","title","overview","release_date","popularity","vote_average","vote_count"]]

In [4]:
temp_df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,550,Fight Club,A ticking-time-bomb insomniac and a slippery s...,1999-10-15,24.7029,8.438,30807
1,14537,Harakiri,Down-on-his-luck veteran Tsugumo Hanshirō ente...,1962-09-15,4.5690,8.434,1118
2,11216,Cinema Paradiso,"A filmmaker recalls his childhood, when he fel...",1988-11-17,7.2379,8.400,4615
3,598,City of God,In the poverty-stricken favelas of Rio de Jane...,2002-08-30,8.9431,8.429,7810
4,667257,Impossible Things,"After the death of her abusive husband, Matild...",2021-06-17,2.0708,8.427,413
5,40096,A Dog's Will,The lively João Grilo and the sly Chicó are po...,2000-09-15,1.7974,8.426,1183
6,120,The Lord of the Rings: The Fellowship of the Ring,"Young hobbit Frodo Baggins, after inheriting a...",2001-12-18,22.9977,8.425,26417
7,539,Psycho,When larcenous real estate clerk Marion Crane ...,1960-06-22,8.2709,8.421,10523
8,510,One Flew Over the Cuckoo's Nest,A petty criminal fakes insanity to serve his s...,1975-11-19,8.0735,8.413,10967
9,121,The Lord of the Rings: The Two Towers,Frodo Baggins and the other members of the Fel...,2002-12-18,16.3115,8.409,22946
10,696374,Gabriel's Inferno,An intriguing and sinful exploration of seduct...,2020-05-29,3.7848,8.407,2433
11,311,Once Upon a Time in America,A former Prohibition-era Jewish gangster retur...,1984-05-23,6.8738,8.406,5741
12,255709,Hope,After 8-year-old So-won narrowly survives a br...,2013-10-02,4.5074,8.398,801
13,324857,Spider-Man: Into the Spider-Verse,Struggling to find his place in the world whil...,2018-12-06,14.3499,8.397,16475
14,4935,Howl's Moving Castle,"Sophie, a young milliner, is turned into an el...",2004-09-09,13.6738,8.400,10545
15,1891,The Empire Strikes Back,"The epic saga continues as Luke Skywalker, in ...",1980-05-20,6.7352,8.395,17711
16,378064,A Silent Voice: The Movie,Shouya Ishida starts bullying the new girl in ...,2016-09-17,10.4700,8.385,4231
17,770156,Lucy Shimmers and the Prince of Peace,Second chances start when a hardened criminal ...,2020-10-19,4.5670,8.400,320
18,423,The Pianist,The true story of pianist Władysław Szpilman's...,2002-09-17,7.7116,8.381,9698
19,244786,Whiplash,"Under the direction of a ruthless instructor, ...",2014-10-10,12.5877,8.376,15937

In [5]:
df=pd.DataFrame()
df
for i in range(1,501):
  response = requests.get(
    f"https://api.themoviedb.org/3/movie/top_rated?api_key=77edeb18e70fcf758435adbed4125fec&language=en-US&page={i}")
  temp_df=pd.DataFrame(response.json().get('results', []))[["id","title","overview","release_date","popularity","vote_average","vote_count"]]
  df = pd.concat([df, temp_df], ignore_index=True)
print(df)

          id                     title  \
0        278  The Shawshank Redemption
1        238             The Godfather
2        240     The Godfather Part II
3        424          Schindler's List
4        389              12 Angry Men
...      ...                       ...
9995    9624          On Deadly Ground
9996  632727   Texas Chainsaw Massacre
9997    9037                  Grease 2
9998   13184         Bangkok Dangerous
9999   11217                Club Dread

                                               overview release_date  \
0     Imprisoned in the 1940s for the double murder ...   1994-09-23
1     Spanning the years 1945 to 1955, a chronicle o...   1972-03-14
2     In the continuing saga of the Corleone crime f...   1974-12-20
3     The true story of how businessman Oskar Schind...   1993-12-15
4     The defense and the prosecution have rested an...   1957-04-10
...                                                 ...          ...
9995  Forrest Taft is an environmental agent who wor...   1994-02-18
9996  After nearly 50 years of hiding, Leatherface r...   2022-02-18
9997  It's 1961, two years after the original Grease...   1982-06-11
9998  When carrying out a hit, assassin Joe always m...   2008-08-21
9999  When a serial killer interrupts the fun at the...   2004-02-27

      popularity  vote_average  vote_count
0        28.6613         8.713       28944
1        28.7339         8.686       21877
2        17.1534         8.571       13218
3        13.0232         8.566       16732
4        12.2075         8.548        9423
...          ...           ...         ...
9995      1.8423         5.204         488
9996      3.4661         5.202        1552
9997      3.1151         5.200         704
9998      1.9101         5.200        1045
9999      1.7672         5.200         376

[10000 rows x 7 columns]

In [29]:
df = df.drop_duplicates(subset=["title"], keep='first')

In [30]:
num_duplicates = df['title'].duplicated().sum()
print("Number of duplicate titles:", num_duplicates)

Number of duplicate titles: 0

In [31]:
num_duplicates = df['id'].duplicated().sum()
print("Number of duplicate id:", num_duplicates)

Number of duplicate id: 0

In [32]:
df = df.drop_duplicates(subset='overview', keep='first')
num_duplicates = df['overview'].duplicated().sum()
print("Number of duplicate overview:", num_duplicates)

Number of duplicate overview: 0

In [33]:
df=df.drop_duplicates(subset='release_date', keep='first')
num_duplicates = df['release_date'].duplicated().sum()
print("Number of duplicate release_date:", num_duplicates)

Number of duplicate release_date: 0

In [34]:
df=df.drop_duplicates(subset='popularity', keep='first')
num_duplicates = df['popularity'].duplicated().sum()
print("Number of duplicate popularity:", num_duplicates)

Number of duplicate popularity: 0

In [35]:
df=df.drop_duplicates(subset='vote_average', keep='first')
num_duplicates = df['vote_average'].duplicated().sum()
print("Number of duplicate vote_average:", num_duplicates)

Number of duplicate vote_average: 0

In [36]:
df=df.drop_duplicates(subset='vote_count', keep='first')
num_duplicates = df['vote_count'].duplicated().sum()
print("Number of duplicate vote_count:", num_duplicates)

Number of duplicate vote_count: 0

In [37]:
print("Any duplicates left:", df.duplicated().sum())

Any duplicates left: 0

In [38]:
all_unique = len(df[['id','title','overview','release_date','popularity','vote_average','vote_count']].drop_duplicates()) == len(df[['id','title','overview','release_date','popularity','vote_average','vote_count']])
print("All titles unique:", all_unique)

All titles unique: True

In [39]:
df.to_csv("movie_data.csv", index=False)